body{
    background-color: rgb(204,204,204);
}

h1,h2{
    text-align:center;
}

.list-div,.media-div{
    width:90%;
    margin-left:5%;
    background:white;
    border:1px solid black;
    border-radius:10px;
}

ul{
    list-style-type:none;
}

a{
    text-decoration:none;
}

.player_one,
.player_two{
    width:100%;
    background-color:white;
    padding:10px;
}